<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="bg-primary text-white p-2">
                Selected Product: {{selectedProduct || '(None)' }}
            </div>
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Manage</th>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products" [class.bg-info]="getSelect(product)">
                        <td>{{product.id}}</td>
                        <td>
                            <img src="/assets/img/{{product.imageUrl}}" width="50" height="60">
                        </td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            <button class="btn btn-sm btn-outline-danger m-1">Delete</button>
                            <button (click)="editProduct(product)"
                                class="btn btn-sm btn-outline-primary m-1">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6" *ngIf="selectProduct">
            <div class="form-group">
                <label>Product Name</label>
                <input #pName [(ngModel)]="selectProduct.name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Price</label>
                <input #pPrice [(ngModel)]="selectProduct.price" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Image Url</label>
                <input #pImageUrl [(ngModel)]="selectProduct.imageUrl" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea #pDescription [(ngModel)]="selectProduct.description" type="text" class="form-control">
                </textarea>
            </div>
            <button class="btn btn-primary" (click)="saveChanges()">
                Save Changes
            </button>
        </div>
    </div>
</div>