<div class="card my-2">
  <div class="card-header">
    {{ title }}
  </div>
  <ol class="list-group list-group">
    <li *ngFor="let movie of movies" routerLink="/detail/{{movie.id}}" class="list-group-item d-flex justify-content-between align-items-center">
       <span class="badge bg-primary rounded-pill">{{movie.id}}</span>
       <div class="ms-2 me-auto">
        <div class="fw">{{movie.name}}</div>
      </div>
      <span (click)="delete(movie)" class="close">x</span>
    </li>
  </ol>
</div>
<div class="card my-2">
  <div class="card-header">
    Add Movie
  </div>
  <div class="card-body">
    <div class= "form-group">
      <label for="name"></label>
      <input type="text" #name placeholder="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="imageUrl"></label>
      <input type="text" #imageUrl placeholder="imageUrl" class="form-control">
    </div>
    <div class="form-group">
      <label for="description"></label>
      <textarea #description placeholder="description" class="form-control"></textarea>
    </div>
    <button (click)="add(name.value, imageUrl.value, description.value); name.value=''; imageUrl.value=''; description.value='';" class="btn btn-primary btn-sm my-2">Save</button>
  </div>
</div>
