<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td class="w-75">{{product.name}}</td>
                <td>
                    <a [routerLink]="['/products',product.id]" class="btn btn-outline-primary btn-sm mx-2">Detail</a>
                    <a [routerLink]="['/products',product.id,'edit']" class="btn btn-outline-warning btn-sm">Edit</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary btn-sm" routerLink="/products"
            [queryParams]="{page:1, order: 'bestselling'}">Best
            Sellers</button>
        <button class="btn btn-primary btn-sm mx-2" routerLink="/products"
            [queryParams]="{page:2, order: 'newest'}">Latest
            Products</button>
        <button (click)="loadProducts()" class="btn btn-primary btn-sm my-2">Refresh Page</button>
        <a routerLink="products" class="mx-2">Products</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>