<div *ngIf="model.getProducts().length > 0; then productList else noProducts">
</div>

<ng-template #productList>
    <div class="bg-primary text-white m-2 p-2">
        There are {{ model.getProducts().length}} products in the repository.
    </div>
</ng-template>
<ng-template #noProducts>
    <div class="bg-primary text-white m-2 p-2">
        There are no products in the repository.
    </div>
</ng-template>

<!-- <h1>{{product.name}}</h1>
<h1 [textContent]="product.name"></h1>
<img [src]="'assets/img/' + product.imageUrl" alt="">
<img src="assets/img/{{product.imageUrl}}" alt=""> -->

<div class="m-2 p-2 col-4">
    <label for="onKeyUp1">onKeyUp 1</label>
    <input type="text" id="onKeyUp1" class="form-control" (keyup)="onKeyUp($event)">
    <label for="onKeyUp2">onKeyUp 2</label>
    <input type="text" id="onKeyUp2" class="form-control" (keyup.enter)="onKeyUp2()">
    <label for="onKeyUp3">onKeyUp 3</label>
    <input type="text" id="onKeyUp3" class="form-control" (keyup.enter)="onKeyUp3($event)">
    <label for="onKeyUp4">onKeyUp 4</label>
    <input type="text" #email class="form-control" (keyup.enter)="onKeyUp4(email.value)">
</div>
<div class="container">
    <h4>Lower-Upper-Title CasePipe</h4>
    <p>{{title}}</p>
    <p>{{title | lowercase}}</p>
    <p>{{title | uppercase}}</p>
    <p>{{title | titlecase}}</p>
    <hr>
    <h4>Date Pipe</h4>
    <p>{{today}}</p>
    <p>{{today | date}}</p>
    <p>{{today | date:'fullDate'}}</p>
    <p>{{today | date:'medium'}}</p>
    <p>{{today | date:'shortTime'}}</p>
    <p>{{today | date:'h:mm:ss'}}</p>
    <hr>
    <h4>Decimal Pipe</h4>
    <p>{{student}}</p>
    <p>{{student | number}}</p>
    <p>{{price | number:'1.2-2'}}</p>
    <hr>
    <h4>Currency Pipe</h4>
    <p>{{price | currency}}</p>
    <p>{{price | currency:'EUR'}}</p>
    <p>{{price | currency:'XX'}}</p>
    <hr>
    <h4>Percent Pipe</h4>
    <p>{{completed | percent}}</p>
    <p>{{completed | percent:'2.2-2'}}</p>
</div>
<div class="container p-5">
    <hr>
    <h4>Custom Pipes</h4>
    <p>{{text}}</p>
    <p>{{text | summary:5 }}</p>
    <p>{{text | summary:13 }}</p>
</div>