<div *ngIf="model.getProducts().length > 0; then productList else noProducts">
</div>

<ng-template #productList>
    <div class="bg-primary text-white m-2 p-2">
        There are {{ model.getProducts().length}} products in the repository.
    </div>
</ng-template>
<ng-template #noProducts>
    <div class="bg-primary text-white m-2 p-2">
        There are no products in the repository.
    </div>
</ng-template>

<!-- <h1>{{product.name}}</h1>
<h1 [textContent]="product.name"></h1>
<img [src]="'assets/img/' + product.imageUrl" alt="">
<img src="assets/img/{{product.imageUrl}}" alt=""> -->

<div class="m-2 p-2 col-4">
    <label for="onKeyUp1">onKeyUp 1</label>
    <input type="text" id="onKeyUp1" class="form-control" (keyup)="onKeyUp($event)">
    <label for="onKeyUp2">onKeyUp 2</label>
    <input type="text" id="onKeyUp2" class="form-control" (keyup.enter)="onKeyUp2()">
    <label for="onKeyUp3">onKeyUp 3</label>
    <input type="text" id="onKeyUp3" class="form-control" (keyup.enter)="onKeyUp3($event)">
    <label for="onKeyUp4">onKeyUp 4</label>
    <input type="text" #email class="form-control" (keyup.enter)="onKeyUp4(email.value)">
</div>
<div class="container">
    <h4>Lower-Upper-Title CasePipe</h4>
    <p>{{title}}</p>
    <p>{{title | lowercase}}</p>
    <p>{{title | uppercase}}</p>
    <p>{{title | titlecase}}</p>
    <hr>
    <h4>Date Pipe</h4>
    <p>{{today}}</p>
    <p>{{today | date}}</p>
    <p>{{today | date:'fullDate'}}</p>
    <p>{{today | date:'medium'}}</p>
    <p>{{today | date:'shortTime'}}</p>
    <p>{{today | date:'h:mm:ss'}}</p>
    <hr>
    <h4>Decimal Pipe</h4>
    <p>{{student}}</p>
    <p>{{student | number}}</p>
    <p>{{price | number:'1.2-2'}}</p>
    <hr>
    <h4>Currency Pipe</h4>
    <p>{{price | currency}}</p>
    <p>{{price | currency:'EUR'}}</p>
    <p>{{price | currency:'XX'}}</p>
    <hr>
    <h4>Percent Pipe</h4>
    <p>{{completed | percent}}</p>
    <p>{{completed | percent:'2.2-2'}}</p>
</div>
<div class="container p-5">
    <hr>
    <h4>Custom Pipes</h4>
    <p>{{text}}</p>
    <p>{{text | summary:5 }}</p>
    <p>{{text | summary:13 }}</p>
</div>

<div class="bg-info m-2 p-2" [ngSwitch]="model.getProductCount()">
    <span *ngSwitchCase="0">There are no products</span>
    <span *ngSwitchCase="1">There are 1 product</span>
    <span *ngSwitchCase="2">There are 2 products</span>
    <span *ngSwitchDefault>There are many products</span>
</div>
<hr>
<div class="bg-info m-2 p-2" [ngSwitch]="model.getProductById(1).name">
    <span *ngSwitchCase="productName">iPhone 7 Plus</span>
    <span *ngSwitchCase="'iPhone 8 Plus'">iPhone 8 Plus</span>
    <span *ngSwitchCase="'iPhone X'">iPhone X</span>
    <span *ngSwitchDefault>Other Product</span>
</div>
<hr>

<ul class="list-group m-5">
    <li class="list-group-item"
        *ngFor="let product of model.getProducts(); index as i; first as isFirst; last as isLast; odd as isOdd; even as isEven;">
        {{ i+1 }} - {{product.name}}
        <span *ngIf="isFirst"> - First Item</span>
        <span *ngIf="isLast"> - Last Item</span>
        <span *ngIf="isOdd"> - Odd Item</span>
        <span *ngIf="isEven"> - Even Item</span>
    </li>
</ul>
<hr>

<ng-template [ngTemplateOutlet]="productsList" [ngTemplateOutletContext]="{products:model.getProducts()}"></ng-template>
<ng-template [ngTemplateOutlet]="productsList" [ngTemplateOutletContext]="{products:model.getProducts()}"></ng-template>

<ng-template #productsList let-products="products">
    <div class="m-5">
        <button class="btn btn-primary">Add Product</button>
        <ul class="list-group mt-2">
            <li class="list-group-item" *ngFor="let product of products">
                {{product.name}}
                <button class="btn btn-danger btn-sm" (click)="deleteProduct(product)">Delete</button>
                <button class="btn btn-warning btn-sm" (click)="updateProduct(product)">Update</button>
            </li>
        </ul>
    </div>
</ng-template>
<hr>

<label class="m-5">Input Email</label>
<input type="text" appInputEmail class="m-1">
<hr>

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="m-3">
                <form #form="ngForm" (ngSubmit)="submitForm(form)">
                    <div class="bg-danger text-white my-2 p-3" *ngIf="formSubmitted && form.invalid">
                        Something went wrong. Check your information.
                        <ul>
                            <li *ngFor="let error of getFormValidationErrors(form)">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                    <div class="bg-info text-white m-2 p-2">
                        {{jsonProduct}}
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input required minlength="3" maxlength="12" pattern="^[A-Za-z ]+$"
                            [(ngModel)]="newProduct.name" type="text" name="pName" #name="ngModel" class="form-control">
                        <div class="text-danger" *ngIf="(formSubmitted || name.dirty && name.invalid)">
                            <p *ngIf="name.errors['required']">Name is required.</p>
                            <p *ngIf="name.errors['pattern']">only letters and spaces.</p>
                            <p *ngIf="name.errors['minlength']">Minimum 3 character.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input required [(ngModel)]="newProduct.description" type="text" name="pDescription"
                            #description="ngModel" class="form-control">
                        <div class="text-danger" *ngIf="!description.valid && description.touched">
                            Description is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input required [(ngModel)]="newProduct.price" type="text" name="pPrice" #pricee="ngModel"
                            class="form-control">
                        <div class="text-danger" *ngIf="!pricee.valid && pricee.touched">
                            Price is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Image Url</label>
                        <input required [(ngModel)]="newProduct.imageUrl" type="text" name="pImageUrl"
                            #imageUrl="ngModel" class="form-control">
                        <div class="text-danger" *ngIf="!imageUrl.valid && imageUrl.touched">
                            Image Url is required.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2" [disabled]="formSubmitted && form.invalid"
                        [class.btn-secondary]="formSubmitted && form.invalid">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<app-admin-products></app-admin-products>